body{
	background-color: #eceff0;
}

body,
input{
	font:1em "Open Sans", sans-serif;
	color: #363639;
}

a{
	text-decoration: none;
	border-bottom: 1px dashed #363639;
}

/*List*/

.list{
	background-color:#fff;
	margin: 20px auto;
	width: 100%;
	max-width: 500px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 2px;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
}
.header{
	font-family: "Shadows Into Light Two", cursive;
	margin: 0 0 10px 0;
	
}

.header img{
	width: 15px;
	height: 15px;
}

/*Items*/

.items{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.items li:hover .done-button{
	opacity: 1;
}

.item.done{
	text-decoration: line-through;
}

.items li,
.item-add .input{
	border:0;
	border-bottom: 1px dashed #ccc;
	padding:  15px 0;
}

.input{
	width: 100% ;
}

.input:focus{
	outline: none;
}

/*Done button*/

.done-button{
	display: inline-block;
	font-size: .8em;
	background-color:#d9dfe1;
	color:#363639;
	padding: 3px 6px;
	border: 0;
	opacity: 0.4;
}

/*Submit button*/

.submit{
	background-color:#fff;
	padding: 5px 10px;
	border:1px solid #ddd;
	width: 100%;
	margin-top:10px;
	box-shadow:3px 3px 0 #ddd;
}




/*Control buttons*/
.contorol-buttons{
	display: flex;
	justify-content: space-between;
}
.remove{
	background-color:#fff;
	padding: 5px 10px;
	border:1px solid #ddd;
	width: 47%;
	margin-top:10px;
	box-shadow:3px 3px 0 #ddd;
}
.ready{
	background-color:#fff;
	padding: 5px 10px;
	border:1px solid #ddd;
	width: 47%;
	margin-top:10px;
	box-shadow:3px 3px 0 #ddd;
}

.remove a{
	font:1em "Open Sans", sans-serif;
	color: #363639;
	border-bottom:none;
}

.ready a{
	font:1em "Open Sans", sans-serif;
	color: #363639;
	border-bottom:none;
}

/*Main Page*/

.wrapper{
	background-color:#fff;
	margin: 20px auto;
	width: 100%;
	max-width: 500px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 2px;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
}

.wrapper h1{
	font-family: "Shadows Into Light Two", cursive;
	margin: 0 0 10px 0;
}

/*Register*/

.register{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 5px;
}
.register-button{
	width: 100%;
	margin-bottom: 5px;
}

/*Authorization*/

.authorization{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 5px;
}

.authorization-button{
	width: 100%;
	margin-bottom: 5px;
}